.ProfileTopSection {
    background-color: #EEEEEE;
    height: 120px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    bottom: 20px;


}
.cardBody{
    padding: 0px 0px; 
}
.cardText{
    color:#1B3146;
    font-family: var(--main-font-regular);
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 10px;
    cursor: pointer;
}
.cardTitle{
    font-size: 27px;
    color: #1c3247;
    font-family: var(--main-font-regular);
    margin-bottom: 0px;
    margin-left: 10px;
}
.Title{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title >h2{
    font-family: var(--main-font-regular);
    color: #1C3247;
    font-size: 26px;
}

.SideBarMenu{
    border: 1px solid #D5D5D6;
    padding: 10px;
    border-radius: 10px;
    width: 245px;
    margin: 10px 0px;
}
#LinkBar{
    width: 207px;
    border-radius: 5px;
    color: #19244B;
    padding: 6px;
    font-family: var(--main-font-semibold);
    font-size: 13px;
    margin: 5px;

}

.innerContent{
    max-width: 1140px;
}
#LinkBarLogout{
    width: 207px;
    border-radius: 5px;
    color: #19244B;
    padding: 0px 10px;
    font-family: var(--main-font-semibold);
    font-size: 15px;
    margin: 5px 0px;
}
.pageAdress{
margin: 6px 10px;
font-size: 13px;
}
.pageIcon{
    color: #1c3247;
    font-size: 15px;
    margin: -3px 3px 0px -5px;
}
.pageName{
    font-family: "Poppins-Regular";
    font-size: 12px;
    color: #1B3146;
}

.menuIcon{
    font-family: var(--main-font-semibold);
    font-size: 16px;
    margin-right: 16px;
}



.active {
    width: 207px;
    border-radius: 5px;
    padding: 6px;
    font-family: var(--main-font-semibold);
    margin: 5px;
    font-size: 13px;
    background-color: #E9F2FF;
    color: #1c3247 !important ;
}


.SheduleBtn{
    background: #E1EDFE;
    border-radius: 25px;
    padding: 10px 22px;
    width: 240px;
    margin: 30px 0px 30px 0px;
}
.SheduleLink{
    padding: 0px 10px;
    text-align: center;
}

.SheduleText{
    color: #19244B;
    font-family: var(--main-font-semibold);
    font-size: 14px;
}


#sidebar{
    display: block;
}
@media (min-width: 200px)and (max-width: 992px) {
    
    #sidebar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}