.mainCardBody {
  max-width: 389px;
  height: 407px;
  margin: 18px 0px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border: 1px solid #97d6df;
  border-radius: 15px;
  overflow: hidden;
}

.innerCardBody {
  width: 388px;
  height: 243px;
  border-top-left-radius: 15px !important;
}

.innerCardBody img {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.footerBody {
  width: 388px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f6f6f6;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.footerInner {
  width: 340px;
  height: 106px;
}

.mainHeader {
  width: 340px;
  height: 45px;
}
.mainHeader > h1 {
  font-family: var(--main-font-regular);
  font-size: 17px !important;
  color: #1c3247;
}

.desc {
  width: 340px;
  height: 33px;
}

.desc p {
  font-family: var(--main-font-regular);
  font-size: 12px;
  color: #000000;
}

.buttonSec {
  width: 90px;
  height: 62px;
  display: flex;
  align-items: center;
}

.learnMore {
  text-decoration: none !important;
  color: #1c3247;
  font-family: var(--main-font-regular);
  font-size: 14px;
  padding-top: 20px;
}
.linkBtn {
  text-decoration: none;
}
@media (max-width: 280px) {
  .desc {
    width: 250px;
    height: 25px;
  }

  .desc p {
    font-family: var(--main-font-regular);
    font-size: 10px;
    color: #000000;
  }
  .mainHeader {
    width: 100% !important;
    height: 33px !important;
  }

  .mainHeader > h1 {
    font-family: var(--main-font-regular);
    font-size: 14px !important;
    color: #0a3029;
  }
  .footerInner {
    width: 321px;
    height: 0px;
  }

  .verticalCard {
    width: 100% !important;
    height: 180px;
  }
  .learnBtn {
    font-size: 11px !important;
  }
  .innerCard {
    width: 100% !important;
  }

  .innerHeader {
    width: 100% !important;
  }

  .innerHeader > h6 {
    font-size: 14px !important;
  }

  .innerDecs {
    width: 100% !important;
  }

  /* top card */

  .footerBody {
    width: 100% !important;
    height: 100px !important;
  }
  .mainCardBody {
    max-width: 100% !important;
    height: 270px !important;
  }
  .innerCardBody {
    width: 100% !important;
    height: 132px !important;
  }

  .footerInner {
    width: 100% !important;
    height: 0px !important;
    padding: 0px 15px;
  }
  /* top card */
}
@media (max-width: 390px) {
  .desc {
    width: 250px;
    height: 25px;
  }

  .desc p {
    font-family: var(--main-font-regular);
    font-size: 10px;
    color: #000000;
  }

  .mainHeader {
    width: 100% !important;
    height: 33px !important;
  }

  .mainHeader > h1 {
    font-family: var(--main-font-regular);
    font-size: 14px !important;
    color: #0a3029;
  }

  .footerInner {
    width: 321px;
    height: 0px;
  }

  .verticalCard {
    width: 100% !important;
    height: 180px;
  }
  .learnBtn {
    font-size: 11px !important;
  }
  .innerCard {
    width: 100% !important;
  }

  .innerHeader {
    width: 100% !important;
  }

  .innerHeader > h6 {
    font-size: 14px !important;
  }

  .innerDecs {
    width: 100% !important;
  }

  /* top card */

  .footerBody {
    width: 100% !important;
    height: 240px !important;
  }
  .mainCardBody {
    max-width: 100% !important;
    height: 360px !important;
  }
  .innerCardBody {
    width: 100% !important;
    height: 132px !important;
  }

  .footerInner {
    width: 100% !important;
    height: 0px !important;
    padding: 0px 15px;
  }
  /* top card */
}
@media (max-width: 412px) {
  .desc {
    width: 250px;
    height: 25px;
  }

  .desc p {
    font-family: var(--main-font-regular);
    font-size: 10px;
    color: #000000;
  }

  .mainHeader {
    width: 100% !important;
    height: 33px !important;
  }

  .mainHeader > h1 {
    font-family: var(--main-font-regular);
    font-size: 14px !important;
    color: #0a3029;
  }

  .footerInner {
    width: 321px;
    height: 0px;
  }

  .verticalCard {
    width: 100% !important;
    height: 180px;
  }
  .learnBtn {
    font-size: 11px !important;
  }
  .innerCard {
    width: 100% !important;
  }

  .innerHeader {
    width: 100% !important;
  }

  .innerHeader > h6 {
    font-size: 14px !important;
  }

  .innerDecs {
    width: 100% !important;
  }

  /* top card */

  .footerBody {
    width: 100% !important;
    height: 240px !important;
  }
  .mainCardBody {
    max-width: 100% !important;
    height: 351px !important;
  }
  .innerCardBody {
    width: 100% !important;
    height: 165px !important;
  }

  .footerInner {
    width: 100% !important;
    height: 55px !important;
    padding: 0px 15px;
  }
  /* top card */
}
@media (min-width: 540px) and (max-width: 768px) {
  .desc {
    width: 250px;
    height: 40px;
  }

  .desc p {
    font-family: var(--main-font-regular);
    font-size: 10px;
    color: #000000;
  }

  .mainHeader {
    width: 100% !important;
    height: 40px !important;
  }

  .mainHeader > h1 {
    font-family: var(--main-font-regular);
    font-size: 14px !important;
    color: #0a3029;
  }

  .footerInner {
    width: 321px;
    height: 0px;
  }

  .verticalCard {
    width: 100% !important;
    height: 180px;
  }
  .learnBtn {
    font-size: 11px !important;
  }
  .innerCard {
    width: 100% !important;
  }

  .innerHeader {
    width: 100% !important;
  }

  .innerHeader > h6 {
    font-size: 14px !important;
  }

  .innerDecs {
    width: 100% !important;
  }

  /* top card */

  .footerBody {
    width: 100% !important;
    height: 251px !important;
  }
  .mainCardBody {
    max-width: 100% !important;
  }
  .innerCardBody {
    width: 100% !important;
    height: 132px !important;
  }

  .footerInner {
    width: 100% !important;
    height: 60px;
    padding: 0px 15px;
  }
  /* top card */
}




@media (min-width: 992px) and (max-width: 1200px) {
  .mainCardBody {
    width: 100% !important;
    height: 350px !important;
  }
 
  .footerInner {
    width: 100% !important;
  }
  .desc {
    width: 100% !important;
  }

.mainHeader {
    width: 100% !important;
    height: 45px;
}
  .innerCardBody {
    width: 100%;
    height: 180px;
  }

  .footerBody {
    width: 100% !important;
    height: 180px !important;
    padding: 10px 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .mainCardBody {
    width: 100% !important;
  }

  .innerCardBody {
    width: 100%;
    height: 224px;
  }

  .footerBody {
    width: 100% !important;
    height: 180px !important;
    padding: 10px 8px;
  }
}
