.ProfileContainer{
    margin-top: 30px;
}
.cardTitle{
    font-size: 27px;
    color: #1c3247;
    font-family: var(--main-font-regular);
    margin-bottom: 0px;
    margin-left: 10px;
}

.cardText{
    color:#1B3146;
    font-family: var(--main-font-regular);
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 10px;
    cursor: pointer;
}
.cardBody{
    padding: 0px 0px; 
}

.inputField {
    border-radius: 51px;
    padding: 13px 30px;
    border: 2px solid #1c3247;
    font-family: var(--main-font-regular);
    color: #9D9D9D;
    font-size: 14px;
    margin-bottom: 12px;
    background-color: #F9F9F9;

}
.inputField::placeholder{
    color: #9D9D9D;
    font-size: 30px;
    font-family: "Poppins-Bold";
    display: flex;
    justify-content: center;
    align-items: center;

}
.warning{
    font-family: var(--main-font-regular);
    color: rgb(207, 34, 34);  
    font-size: 12px;
    padding: 0px 0px 12px 16px
}
.Label{
    font-family: var(--main-font-regular);
    color: #1B3146;
    font-size: 12px;
    margin-bottom: 5px;
}
.eyeIconContainer {
    display: flex;
    position: relative;
}
.eyeIcon {
    position: absolute;
    top: 6px;
    right: 23px;
    font-size: 20px;
    color: #9D9D9D;
}

