.ProfileTopSection {
    background-color: #EEEEEE;
    height: 120px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    bottom: 20px;
    


}

.Title{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title >h2{
   font-family: var(--main-font-regular);
    color: #1C3247;
    font-size: 26px;
}

/*  */
.productDetails{
 display: flex;
 justify-content: center;
 border: none;

}

.productDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
}

.title{
    font-family: var(--main-font-regular);
color: #1C3247;
font-size: 30px;
}

.desc{
    font-family: var(--main-font-regular);
    color: #000000;
    font-size: 13px;
}

.cardText{
    color: #1C3247;
   font-family: var(--main-font-regular);
    font-size: 16px;
    margin-bottom: 10px;
}
.cardBlueText{
    color: #1c3247;
   font-family: var(--main-font-regular);
    font-size: 16px;
    margin-bottom: 10px;  
    padding: 0px 30px;
}
#heart_icon_sec{
 display: flex;
 justify-content: flex-end;
}

.heartIcon{
  font-size: 30px;
  color: #1c3247;
  cursor: pointer;
}

.qtyBtn{
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 35px;
    height: 35px;
    color: #707070;
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
}

.qtyResult{
    border-radius: 5px;
    border: 1px solid  #1c3247;
    background-color: white !important;
    padding: 5px;
    width: 35px;
    height: 35px;
    color: #707070;
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
}

.detailsReview{
font-size: 13px;
font-family: var(--main-font-regular);
color: #000000;
}

/* Review Sectoin Style */
.outerReviewSec{
    padding: 15px 0px;
}
.active{
 
    color: #1C3247;
   font-family: var(--main-font-regular);
    font-size: 24px;
    cursor: pointer;

}
.noneActive{
    color: #9DA7B0;
   font-family: var(--main-font-regular);
    font-size: 24px;
    cursor: pointer;
}
.middleLine{
    font-size: 20px;
    padding: 0px 20px;
    color: #9DA7B0;
   font-family: var(--main-font-regular);
}
.clntName{
    font-size: 18px;
    color: #1c3247;
   font-family: var(--main-font-regular);
}
.starIcon{
    font-size: 16px;
    color: #FEC555;
}
.starLightIcon{
    font-size: 16px;
    color: #E2E2E2;
}
.lightText{
    color: #E2E2E2; 
}

.reviewParagraph{
font-family: var(--main-font-regular);
font-size: 12px;
}
/* Review Sectoin Style */

/* slider  */
.sliderContainer{
    max-width: 1200px;
}
.sliderHeading{
   font-family: var(--main-font-regular);
    font-size: 24px;
    color: #1C3247;
    padding: 20px 0px;

}


@media (min-width: 280px) and (max-width: 390px) {
    
    .mainHeading {
     font-family: var(--main-font-regular);
      font-size: 25px;
      color: white;
      padding-top: 50px;
      padding-bottom: 20px;
    }
    
  }
  @media (min-width: 390px) and (max-width: 540px) {

  
  .mainHeading {
   font-family: var(--main-font-regular);
    font-size: 25px;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  }
  /* Select Flied */

.Label {
    font-size: 12px;
    font-family: var(--main-font-regular);
    color: black;
  }
  
  .selectField {
    border-radius: 51px;
    padding: 9px 20px;
    border: 2px solid #1c3247;
    font-family: var(--main-font-regular);
    color: #9d9d9d;
    font-size: 12px;
    margin: 10px;
    background-color: #f9f9f9;
  }
  
  .optionField {
    border-radius: 51px;
    background-color: #ffffff;
    border: 2px solid #1c3247 !important;
    font-family: var(--main-font-regular);
    color: #9d9d9d;
    font-size: 12px;
    margin-bottom: 12px;
  }
  
  /* Select Flied */