.card {
    max-width: 300px;
    height: 350px;
    border-radius: 14px;
    border: 1px solid #bebebe !important;
    margin: 18px 0px;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    height: 205px !important;
}
.card img:hover {
    transform: scale(1.05);
  }
.cardTitleSec{
    height: 40px !important;
}
.cardBody {
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 15px 25px;
    height: 150px !important;
}

.lineclamp1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
    -webkit-line-clamp: 1;
}
.lineclamp2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
    -webkit-line-clamp: 2;
}
/* #cardInner{
    height: 200px !important;

} */
.carTitle {
    font-family: var(--main-font-regular);
    font-size: 17px !important;
    color: #123B51;
    /* width: 113p !important; */
    word-wrap: break-word;
    height: 44px !important;
    clip-path:border-box;

}
.carTitle::-webkit-scrollbar {
    width: 5px !important;
  }
  
  .carTitle::-webkit-scrollbar-track {
    background: #ffff !important;
    border-radius: 50px !important;
  }
  
  .carTitle::-webkit-scrollbar-thumb {
    background-color: #575755;
    border-radius: 50px !important;
    height: 150px !important;
    width: 100% !important;
    border: 1px solid #d1d1d1;
  }

.cardPrice {
    font-family: var(--main-font-regular);
    font-size: 17px !important;
    color: #123B51;
    text-align: end;
}

.cardDesc {
    font-family: var(--main-font-regular);
    font-size: 12px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 31px;
    /* overflow-y: scroll; */
}
.cardDesc::-webkit-scrollbar {
    width: 5px !important;
  }
  
  .cardDesc::-webkit-scrollbar-track {
    background: #ffff !important;
    border-radius: 50px !important;
  }
  
  .cardDesc::-webkit-scrollbar-thumb {
    background-color: #575755;
    border-radius: 50px !important;
    height: 150px !important;
    width: 100% !important;
    border: 1px solid #d1d1d1;
  }

.learnMore {
    text-decoration: none !important;
    color: #0A3029;
    font-family: var(--main-font-regular);
    font-size: 12px;
    padding-top: 20px;

}

.linkBtn {
    text-decoration: none;
    height: 30px !important ;
}

.viewBtn {
    display: flex;
    margin-left: 74%;

}

@media (min-width: 200px) and (max-width: 991px) {

    .card {
        width: 100% !important;
        margin: 25px auto !important;
    }

    .cardBody {
        background-color: #FFFFFF;
        border-radius: 12px;
        padding: 0px 20px;
    }

}

@media (min-width: 280px) and (max-width: 390px) {}

@media (min-width: 390px) and (max-width: 540px) {}

/* .card:hover {
    box-shadow: #e60606 0px 0px, #e60606 0px 10px;
    transition: all 1s;
    cursor: pointer;
}


.card :hover .arrowIcon{
    color: #e60606 !important;
}
.card :hover .carTitle{
    color: #e60606 !important;
}

.card :hover .cardPrice{
    color: #e60606 !important;
}

.card :hover .learnMore{
    color: #e60606 !important;
} */