.payNow button{
    background: #1c3247;
    color: white;
    width: 100%;
    height: 42px;
    border-radius: 25px;
    border: none;
    margin: 20px 0px 0px 0px;
    font-family: var(--main-font-regular);
    font-size: 13px;
    transform: translateY(0rem);
    transition: all 0.3s ease-in-out;
}

.payNow button:hover{
    width: 100% !important;
}

.payNow{
    background: #1c3247;
    color: white;
    width: 100%;
    height: 42px;
    border-radius: 25px;
    border: none;
    margin: 20px 0px 0px 0px;
    font-family: var(--main-font-regular);
    font-size: 13px;
    transform: translateY(0rem);
    transition: all 0.3s ease-in-out;
}