.cardBody {
  background-color: #1c3247;
  border-radius: 12px;
  padding: 20px 30px;
  text-align: center;
  overflow: hidden;
  height: 100%;
}
.carTitle {
  font-family: var(--main-font-regular);
  font-size: 18px !important;
  color: white;
}
.flipcardfront {
  background-color: #e5e5e5;
  color: white;
  height: 100%;
  border-radius: 20px !important;
}

.pricingListOverFlow {
  height: 210px !important;
  /* overflow-y: scroll; */
}
.pricingListOverFlow li {
  font-size: 14px;
  text-align: start;
}
.SubTitle {
  font-family: var(--main-font-regular);
  font-size: 10px !important;
  color: white;
}

.card3SmText {
  font-family: var(--main-font-regular);
  font-size: 18px !important;
  color: white;
  position: absolute;
  top: 25%;
  left: 28%;
}

.BigText {
  font-family: var(--main-font-semibold);
  font-size: 60px !important;
  color: white;
}
.pricingListOverFlow {
  list-style-image: url("../../../../public/images/pluslight.png");
  padding: 0px;
  text-align: start;
  padding: 20px;
  overflow-y: scroll;
  height: 200px;
}

/* label */
.pricingListOverFlow::-webkit-scrollbar {
  width: 10px !important;
}

.pricingListOverFlow::-webkit-scrollbar-track {
  background: #d1d1d1 !important;
  border-radius: 50px !important;
}

.pricingListOverFlow::-webkit-scrollbar-thumb {
  background-color: #575755;
  border-radius: 50px !important;
  height: 150px !important;
  width: 100% !important;
  border: 1px solid #d1d1d1;
}

.label {
  z-index: 999 !important;
  position: relative;
  top: 18px;
  left: -92px;
  width: 220px;
  background: #1c3247;
  color: white;
  padding: 7px;
  transform: rotate3d(-2, 5, 13, 304deg);
  font-family: "Poppins-Regular";
  font-size: 16px;
}
.lightBtn > button {
  background-color: white;
  color: #1c3247;
}
.labelBlue {
  z-index: 999 !important;
  position: relative;
  top: 18px;
  left: -92px;
  width: 220px;
  background: #575755;
  color: white;
  padding: 7px;
  transform: rotate3d(-2, 5, 13, 304deg);
  font-family: "Poppins-Regular";
  font-size: 16px;
}

@media (min-width: 200px) and (max-width: 300px) {
  .card3SmText {
    font-family: var(--main-font-regular);
    font-size: 18px !important;
    color: #ffff;
    position: absolute;
    top: 24%;
    left: 16%;
  }
}
@media (min-width: 300px) and (max-width: 350px) {
  .card3SmText {
    font-family: var(--main-font-regular);
    font-size: 18px !important;
    color: #ffff;
    position: absolute;
    top: 20%;
    left: 22%;
  }
}

@media (min-width: 350px) and (max-width: 540px) {
  .card3SmText {
    font-family: var(--main-font-regular);
    font-size: 18px !important;
    color: #ffff;
    position: absolute;
    top: 24%;
    left: 28%;
  }
}
