/* Select Flied */

.Label{
    font-size: 12px;
    font-family: var(--main-font-regular);
    color: black;
    }
    .selectField {
        border-radius: 51px;
        padding: 13px 30px;
        border: 2px solid #1c3247;
        font-family: var(--main-font-regular);
        color: #9D9D9D;
        font-size: 12px;
        margin-bottom: 12px;
        background-color: #F9F9F9;
    
    }
    .optionField{
        border-radius: 51px;
        background-color: #ffffff;
        border: 2px solid #1c3247 !important;
        font-family: var(--main-font-regular);
        color: #9D9D9D;  
        font-size: 12px;
        margin-bottom: 12px;
    }
    /* Select Flied */

    .cardTopHeading{
        font-size: 18px;
        font-family: var(--main-font-regular);
        color: black;
        margin: 20px 0px;
    }
    /* Card  */
    .card{
        border: none;
    }
.cardTitle{
    font-family: var(--main-font-regular);
    font-size: 25px;
    color: black;
}

.textMuted{
color: #9D9D9D;
font-family: var(--main-font-regular);
font-size: 12px;
padding: 2px 0px;
margin: 0px;
}
    .outlineButton> button{
        background: transparent;
        color: black;
        width: 230px;
        height: 42px;
        border-radius: 25px;
        border: 1px solid #1c3247;
        font-family: var(--main-font-regular);
        font-size: 13px;
        margin: 5px 0px;
    }

    /* Card */

.discount{
    font-family: var(--main-font-regular);
    font-size: 13px;
    color: #1c3247;
    padding: 42px 0px;
    text-decoration: underline;
    cursor: pointer;

}

@media (min-width: 200px) and (max-width:600px){
    .card :first-child{
        text-align: center;
    }
    .nextBtn{
        display: flex;
        justify-content: end !important;
    }
}